---
layout: default
title: Comunidad
permalink: /about/
---
<h1 class="text-big-centered">Software, hardware y cultura libre desde Granada</h1>

<p>
  El <strong>movimiento libre</strong> hoy en día es más importante que nunca para la sociedad, ya que según se van produciendo
  avances en cualquier campo, también se encuentran que los nuevos problemas que aparecen son más complejos que
  los ya resueltos; esto nos lleva a una cuestión importante a tener en cuenta: es mucho más fácil avanzar
  ayudándonos unos a otros que intentando resolver todos los problemas con nuestro único esfuerzo individual.
</p>

<p>
  Por eso mismo, el objetivo de esta comunidad es volver a ser ese punto de encuentro de las <strong>personas interesadas en el
  software/hardware libre y la cultura abierta de Granada</strong>, un apoyo para las diferentes comunidades con las mismas
  inquietudes que se gestaban y se siguen gestando en esta ciudad. Algo por la comunidad, para la comunidad. Hubo
  una época en la que gracias a iniciativas así, Granada se convirtió en una ciudad con una gran cantidad de
  oportunidades para aprender sobre temas interesantes para todos, pero sobre todo, para crear comunidades y aprender
  los unos de los otros.
</p>

<figure class="mosaic">
  <img src="/assets/images/page/about/sfd_2018.png" alt="SFD 2018" height="500">
  <figcaption>Celebrando el Software Freedom Day 2018</figcaption>
</figure>

<p style="padding-top: 15px">
  Algo así no puede depender de solo unas cuantas personas, ya que toda comunidad que tenga intención de ser integradora
  debe contemplar el mundo desde diferentes puntos de vista. Por eso que desearíamos que esto fuera un proyecto que
  cualquier persona pudiera sentir como propio, animándose a colaborar en las diferentes iniciativas que se llevan a
  cabo como los <strong>PyData</strong>, los <strong>Granada AI</strong>, los <strong>BeerJS</strong> o la organización
  de congresos como <a href="https://eslib.re/2019/" target="_blank">esLibre</a>, un congreso nacional cuya primera
  edición ha sido en 2019 y para el que hemos ejercido equipo de organización local, habiendo sido el evento local
  sobre software libre más grande que se recuerda en la provincia; pero sin olvidar el incipiente <strong>movimiento
    maker</strong> que cada vez es más accesible para las personas de a pie o la ayuda en la difusión de la cultura
  abierta con iniciativas como las llevadas a cabo por <strong>Wikipedia</strong> y los diferentes <strong>proyectos
    Wikimedia</strong>.
</p>

<h1 class="text-big-centered">¡Tú también puedes participar!</h1>

<img class="img-centered" src="/assets/images/page/about/mosaico.png" alt="mosaico" height="500">
