---
layout: default
title: LibreLabGRX (v0.1)
description: Blog provisional para este proyecto dedicado la difusión y el apoyo al software/hardware libre y la cultura abierta desde Granada.
comments: true
---

<!-- Pagination links -->
<div style="padding-top: 15px; padding-bottom: 15px">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">
    Anterior |
  </a>
  {% endif %}
  <span class="page_number ">
    Página: {{ paginator.page }} de {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}"> | Siguiente</a>
  {% endif %}
</div>

<div class="list-group">
  {% for post in paginator.posts %}
  <div class="list-group-item">
    <a href="{{ post.url }}">
      <h4 class="list-group-item-heading">{{ post.title }}</h4>
    </a>
    <h6 class="list-group-item-heading">{{ post.date | date: "%-d %B %Y"}}</h6>
    <h6 class="list-group-item-heading">Publicado por <a href="{{site.data.authors.[post.author].link}}" target="_blank">{{site.data.authors.[post.author].name}}</a></h6>
    {% for tag in post.tags %}
    <a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
    {% if post.noimage %}
    {% else %}
    <img alt="{{ post.title }}" src="/assets/images/{{post.id}}/top.png" class="img-responsive">
    {% endif %}
    {{ post.content | truncatewords: 100}}
    <p>
      <a href="{{ post.url }}">Leer más...</a>
    </p>

  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div>
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}">
    Anterior |
  </a>
  {% endif %}
  <span class="page_number ">
    Página: {{ paginator.page }} de {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}"> | Siguiente</a>
  {% endif %}
</div>
