<footer class="footer">
  <span class="copyleft">&copy;</span> {{ site.time | date: '%Y' }} {{ site.author }}
  <br>Sitio web generado con <a href="http://jekyllrb.com" target="_blank" rel="nofollow">Jekyll</a>
  basándose en <a href="https://github.com/alainpham/alainpham.github.io" target="_blank" rel="nofollow">Alain's Tech Blog</a>. Logo e imagen de cabecera por <a href="https://si2.info/" target="_blank">Si2 Soluciones</a>.
  <br>Contenido publicado bajo licencia <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> salvo recursos en los que explícitamente se indique lo contrario.
  <br>
  <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
    <img src="/assets/images/page/footer/by-sa.png" alt="CC BY-SA 4.0" width="70">
  </a>
  &nbsp&nbsp
  <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">
    <img src="/assets/images/page/footer/gpl.png" alt="GPL v3" width="70">
  </a>
</footer>
