<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="/assets/images/avatar.png" alt="Logo LibreLabGRX" height="40">
        </a>
      </div>
      <div id="navbar-collapse-menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          {% for item in site.data.settings.menu %}
          <!-- If has submenues -->
          {% if item.submenu %}
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              {{item.name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% for subitem in item.submenu %}
              <li>
                {% if subitem.name != "Mastodon" %}
                <a href="{{subitem.link}}">
                {% else %}
                <a rel="me" href="{{subitem.link}}">
                {% endif %}
                  {% if subitem.icon %}
                  <img src="/assets/icons/social/{{subitem.icon}}.png" height="20" width="20">
                  {% endif %}&nbsp&nbsp
                  {{subitem.name}}
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li><a href="{{item.link}}">{{item.name}}</a></li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  {% if page.noimage %}
  {% else %}
  <img alt="{{ page.title }}" src="/assets/images/{{page.id}}/top.png" class="header img-responsive">
  {% endif %}

  <div class="jumbotron  clearfix">
    <h1 class="text-center">{{ page.title }}</h1>
  </div>
</div>
