html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 8em;
  padding-top: 4.5em;
  counter-reset: h1counter;
}

h1 {
  counter-reset: h2counter;
}

h2 {
  counter-reset: h3counter;
}

h2:before {
  content: counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

h3:before {
  content: counter(h2counter) "."counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

.container {
  font-size: 1.3em;
  padding-bottom: 1cm;
}

.jumbotron {
  background: #b71c1c;
}

.jumbotron h1 {
  color: white;
  letter-spacing: 0.2em;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer {
  text-align: center;
  position: absolute;
  padding-right: 1em;
  padding-top: 1.5em;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 12em;
  background-color: #b71c1c;
  bottom: 0;
  color: #ffffff;
}

.footer-links {
  margin: 0 0 0 0em;
  padding: 0;
  float: right;
  text-align: right;
}

.footer-links>li {
  padding-right: 1em;
  display: inline-block;
}

.navbar-default {
  background-color: #b71c1c;
  border-color: #b71c1c;
  text-transform: uppercase;
  font-size: 1.3em;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #b71c1c;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>.divider {
  background-color: #b71c1c;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #ffffff;
  background-color: #b71c1c;
}

.navbar-default .navbar-toggle {
  border-color: #b71c1c;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #b71c1c;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width : 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ffffff;
    background-color: #b71c1c;
  }
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.img-centered {
  margin: 10px auto 20px;
  display: block;
}

.text-big-centered {
  text-align: center;
  padding-bottom: 10px;
}

.mosaic {
  width: 592px;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tex-ref {
  font-style: italic;
  font-size: 15px;
  text-align: right;
}

.tex-date {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
