---
layout: default
title: "Hola mundo!"
date: 2019-08-31
author: germaaan
tags: [bienvenida]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p>
  El único objetivo de escribir esta entrada es simplemente porque alguna entrada tiene que ser la primera
  entrada. Resumiendo, esta es la página web provisional de LibreLabGRX (por eso lo de v0.1 🌚), dentro de poco
  tendremos nuestra web definitiva lista con una imagen mucho más profesional gracias a la buena gente de
  <a href="https://si2.info/" target="_blank">Si2 Soluciones</a>, quienes nada más conocer esta idea que teníamos
  para una nueva etapa no dudaron en ofrecerse para darnos su apoyo. Así que lo único que podemos decir de forma
  alta y clara es: <strong>¡GRACIAS!</strong>
</p>
<p>
  El objetivo por el que estamos aquí (y por el que esperamos que estés leyendo estas líneas) es porque creemos
  que el software libre y la cultura abierta son una de las cosas más importantes de esta sociedad, y es por eso
  que pensamos que hay defenderlos y difundirlo por tantos lugares como sea posible. Para no repetirnos en exceso,
  puedes leer una declaración de intenciones algo más extensa en la página de
  <strong><a href="{{ '/about/' | prepend: site.baseurl }}" target="_blank">Comunidad</a></strong>.
</p>
<p>
  Por lo pronto también pues ir uniéndote al grupo de <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a>, seguirnos a en nuestras redes sociales (<a href="https://twitter.com/LibreLabGRX" target="_blank">Twitter</a> / <a href="https://hostux.social/@LibreLabGRX">Mastodon</a>) y si tienes
  cualquier duda o quieres comentarnos algo, escribirnos por <a href="mailto:info@librelabgrx.cc">correo</a>. Hasta otra!
<p>
