---
layout: default
title: "Porqué no todos los modelos de Machine Learning y Deep Learning son buenos"
date: 2019-09-10
author: germaaan
tags: [charla]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-ref">
  Imagen de cabecera basada en <a href="https://commons.wikimedia.org/wiki/File:Deep_learning.png" target="_blank">
    Deep_learning.png de Wikimedia Commons</a>
</p>

<p class="tex-date">
  Lunes, 23 de septiembre de 2019, 19:30-20:30<br>
  Salón de Grados de la ETS de Ingenierías Informática y de Telecomunicación de la UGR.<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>

<p>
  En los últimos años, la aparición de tecnologías que nos permiten trabajar con
  <a href="https://es.wikipedia.org/wiki/Aprendizaje_autom%C3%A1tico" target="_blank">Machine Learning</a> y
  <a href="https://es.wikipedia.org/wiki/Aprendizaje_profundo" target="_blank">Deep Learning</a>, como
  <a href="https://keras.io/" target="_blank">Keras</a>, <a href="https://pandas.pydata.org/" target="_blank">
    Pandas</a>, <a href="https://www.tensorflow.org/" target="_blank">TensorFlow</a>,
  <a href="https://scikit-learn.org/" target="_blank">Scikit-learn</a>..., se han propagado como la espuma. El
  acceso a cursos y material hace que cada vez más gente se inicie en la materia, y que casi cualquiera con una
  base de datos medianamente decente saque un modelo o haga un análisis de los datos. Sin embargo, no siempre se
  hacen bien estos modelos o estudios. Muchas veces, se caen en errores comunes que nos pueden condicionar
  nuestros resultados (como ya les ha pasado a grandes empresas). Por eso, en esta charla repasaremos los errores
  en los que no hay que caer, y así ofrecer soluciones más correctas, robustas y eficientes.
</p>

<p>
  La charla será impartida por <a href="https://twitter.com/luisgj" target="_blank">Luis González-Jaime</a> de
  <strong>Blink Technologies</strong>, doctor en informática y organizador del grupo
  <a href="https://bioinformaticsgrx.es/" target="_blank">BioInformaticsGRX</a>.
</p>

<p>
  Todo el mundo es bienvenido en este meetup: estudiantes, profesores o personas del entorno empresarial. La
  asistencia es libre y abierta a cualquier persona interesada en el tema, no es obligatorio registrarse en
  ningún sitio, aunque si tienes interés en el tema puedes comentarlo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o en el
  <a href="https://www.meetup.com/es-ES/Granada-Artificial-Intelligence-Meetup/events/264578366/" target=" _blank">
    Meetup de Granada Artificial Intelligence Meetup</a>.
</p>
