---
layout: default
title: "Software Freedom Day 2019"
date: 2019-09-09
author: germaaan
tags: [evento]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-date">
  Sábado, 21 de septiembre de 2019, 13:30-15:30<br>
  La Posada<br>
  Calle Periodista Eugenio Selles, 10
</p>

<p>
  El <a href="https://www.softwarefreedomday.org/" target="_blank">Software Freedom Day</a> (o
  <a href="https://es.wikipedia.org/wiki/D%C3%ADa_de_la_Libertad_de_Software" target="_blank">Día de la Libertad
    del Software</a>), es una celebración de la libertad en el software, hardware y conocimiento libre regada con
  bebidas de diferente tipo y, en Granada, tapas.
</p>

<p>
  <strong>¿Qué sería de la sociedad sin la cultura libre?</strong> Porque el movimiento del Software Libre no
  trata solo de desarrollar tecnologías abiertas, trata de colaborar con ideas propias y en ideas ajenas de forma
  desinteresada para obtener una riqueza cultural y otras perspectivas a la hora de resolver problemas,
  consiguiendo además ayudar a crecer a proyectos que, aunque sean tremendamente interesantes, de otra forma
  sería difícil que se desarrollasen debido a las limitaciones de una única persona o un pequeño grupo de
  personas.
</p>

<figure class="mosaic">
  <img src="/assets/images/page/about/sfd_2018.png" alt="SFD 2018" height="500">
  <figcaption>Celebrando el Software Freedom Day 2018</figcaption>
</figure>

<p>
  Por eso, este día 21 queremos reunirnos para que toda la persona que quiera pueda hablar sobre los proyectos
  que tiene entre manos, proyectos que le gustaría promover o en los que colaborar, o simplemente por conocer a
  personas con las mismas inquietudes. En un ciudad como Granada, con tanta gente que hace cosas de diferentes
  disciplinas esto puede resultar en cosas realmente interesantes, como nos pasó hace 3 años cuando fue
  presentada la iniciativa de <a href="https://interferencias.tech/" target="_blank">Interferencias</a>, que ha
  estado moviéndose y creando guerra desde entonces.
</p>

<p>
  Vente a celebrar con nosotros ambas cosas, habrá buen rollo, informática y cerveza o cualquier otra bebida de
  tu gusto. Háblanos sobre tus proyectos libres e ideas; además si alguien quiere puede hacer una presentación
  sobre su proyecto.
</p>

<p>
  Puedes comentar tu proyecto o comunidad en unos minutos para contarnos tus planes para esta temporada, cómo
  podemos colaborar, y qué otras formas de interaccionar hay en tu comunidad. El resto del tiempo, bebidas y
  tapas hasta que nos cansemos.
</p>

<p>
  La asistencia es libre y abierta a cualquier persona interesada en el software libre, no es obligatorio
  registrarse en ningún sitio, aunque si tienes interés en el tema puedes comentárnoslo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o nuestro
  <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/263284112/" target=" _blank"> Meetup</a>.
</p>
