---
layout: default
title: "Editatón 'Día de las Escritoras' 2019"
date: 2019-09-22
author: germaaan
tags: [editaton]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-ref">
  Imagen de cabecera creada con las fotos de los artículos realizados en las ediciones de otros años:
  <a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/D%C3%ADa_de_las_Escritoras_2017" target="_blank">2017</a>,
  <a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/D%C3%ADa_de_las_Escritoras_2018" target="_blank">2018</a>
</p>

<p class="tex-date">
  Martes, 15 de octubre de 2019, 10:00<br>
  Sala de Juntas de la ETS de Ingenierías Informática y de Telecomunicación de la UGR<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>


<figure class="mosaic">
  <img src="/assets/images/posts/ede19/cartel_editaton_escritoras_redes_small.png" alt="EDE 2018" height="500">
  <figcaption>Cartel Editatión 'Día de las Escritoras' 2019. Disponible en formato <a href="/assets/images/posts/ede19/cartel_editaton_escritoras.png" target="_blank">vertical</a> y <a href="/assets/images/posts/ede19/editaton_escritoras_horizontal.png" target="_blank">horizontal</a>.</figcaption>
</figure>

<p>
  El <strong>15 de octubre</strong> se celebra, con motivo de la festividad de Santa Teresa de Jesús, el <strong>Día de las
  Escritoras</strong>, con el objetivo de hacer visibles a las mujeres en la literatura. Por esa razón desde
  LibreLabGRX y la <a href="https://biblioteca.ugr.es/" target="_blank">
    Biblioteca de la ETS de Ing. Informática y de Telecomunicación de la UGR</a>, en el marco de las
  actividades del <a href="https://es.wikipedia.org/wiki/Wikipedia:Mes_de_las_Escritoras" target="_blank">
    Mes de las Escritoras</a>, lanzamos un editatón para crear o completar biografías de mujeres
  escritoras y colectivos y movimientos asociados, principalmente relacionadas con la ciudad de Granada
  o su Universidad; así nos sumamos a <a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/D%C3%ADa_de_las_Escritoras_2019" target="_blank">esta iniciativa</a>
  de la <a href="http://www.bne.es/" target="_blank">Biblioteca Nacional de España</a>.
</p>

<p>
<strong>Planificación:</strong>
<ul>
  <li>10:00: Presentación del editatón</li>
  <li>10:30: Fuentes de información y su uso, por Eulalia Rama Martín, directora de la Biblioteca de la
  ETS de Ing. Informática y de Telecomunicación de la UGR</li>
  <li>A partir de las 11:00 → Trabajo en los artículos elegidos</li>
</ul>
Se ruega a los participantes que traigan su propio equipo para trabajar con él, desde la organización
proporcionaremos conexión a internet. Si ya tienes una cuenta en la Wikipedia (necesaria para el día del
editatón) puedes registrarte <a href="https://es.wikipedia.org/wiki/Wikipedia:Encuentros/Editat%C3%B3n_Mujeres_Escritoras_(Granada)" target="_blank">aquí</a>.
</p>

<p>
  Todo el mundo es bienvenido en este meetup: estudiantes, profesores o personas del entorno empresarial. La
  asistencia es libre y abierta a cualquier persona interesada en el tema, no es obligatorio registrarse en
  ningún sitio, aunque si tienes interés en el tema puedes comentarlo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o en nuestro
  <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/265400758/" target=" _blank">
    Meetup </a>.
</p>
