---
layout: default
title: "Cómo iniciar tu propio proyecto de software libre"
date: 2019-09-08
author: germaaan
tags: [actividad]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-ref">
  Imagen de cabecera de <a href="https://opensource.com/business/13/6/foss-freeloaders" target="_blank">
    Opensource.com</a>
</p>

<p class="tex-date">
  Miércoles, 11 de septiembre de 2019, 13:30-14:30<br>
Aula -1.2 (Aula Polivalente) de la ETS de Ingenierías Informática y de Telecomunicación de la UGR<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>

<p>
  Durante la carrera se ofrecen múltiples posibilidades de iniciar proyectos: desde proyectos que abarquen a
  <a href="https://github.com/JJ/IV-18-19/blob/master/proyectos/hito-0.md" target="_blank">una
    asignatura</a>, hasta <a href="https://github.com/JJ/TF-libres-UGR" target="_blank">trabajos fin de grado</a>,
  pasando por proyectos relacionados con <a href="http://etsiit.ugr.es/pages/ix_desafio_tecnologico" target="_blank">
    retos planteados en tu escuela o facultad</a>, o concursos de proyectos tales como el
  <a href="http://www.concursosoftwarelibre.org/1819/" target="_blank">Concurso Universitario de Software
    Libre</a>. Sin embargo, no resulta fácil saber ni qué tema elegir, ni qué tipo de proyecto plantear, ni por
  supuesto qué herramientas usar para gestionarlo y llevarlo hasta una versión que sea usable.
</p>

<p>
  En concreto, en esta charla, impartida por <a href="https://twitter.com/jjmerelo" target="_blank">JJ Merelo</a>,
  se hablará de:
  <ul>
    <li>Ideas generales para proyectos informáticos: desde chatbots hasta apps, pasando por bibliotecas o
      servicios web</li>
    <li>Licencias de software libre y qué significan</li>
    <li>Tecnologías y lenguajes que se pueden usar para desarrollar, testear, publicar, desplegar e
      interaccionar con la comunidad</li>
    <li>Cómo crear una comunidad de desarrollo alrededor de la misma que sea diversa y acogedora</li>
  </ul>

  <p>
    La asistencia es libre y abierta a cualquier persona interesada en el software libre, no es obligatorio
    registrarse en ningún sitio, aunque si tienes interés en el tema puedes comentárnoslo en el grupo de
    <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o nuestro
    <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/264579142/" target=" _blank"> Meetup</a>.
  </p>
