---
layout: default
title: "Wiki Loves Monuments 2019"
date: 2019-09-01
author: germaaan
tags: [eventos]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-date">
  Sábado, 7 de septiembre de 2019, 10:00<br>
  La Posada<br>
  Calle Periodista Eugenio Selles, 10
</p>

<p>
  Todos los años la <a href="https://foundation.wikimedia.org/wiki/Home" target="_blank">Fundación Wikimedia</a>
  organiza el concurso fotográfico <a href="https://www.wikilm.es/" target="_blank">Wiki Loves Monuments </a> con
  el objetivo de documentar el patrimonio cultura. Ya que existen un gran número de <strong>monumentos catalogados
  como Bienes de Interés Cultural</strong> de los que no se tienen fotografías con licencia libre, la intención
  es captar imágenes de estos monumentos y hacerlas accesibles mediante la liberación de las mismas a través del
  repositorio libre de archivos multimedia <a href="https://commons.wikimedia.org/wiki/Main_Page"
  target="_blank">Wikimedia Commons</a>.
</p>

<p>
  De la misma forma, todos los años nos reunimos para participar y de paso contribuir a la cultura libre. Algunas
  imágenes de ediciones anteriores se pueden ver aquí:<br>
  <ul>
    <li><strong>2016</strong>: <a href="https://www.flickr.com/photos/atalaya/albums/72157673217758732" target="_blank">https://www.flickr.com/photos/atalaya/albums/72157673217758732</a></li>
    <li><strong>2017</strong>: <a href="https://www.flickr.com/photos/atalaya/albums/72157689514676615" target="_blank">https://www.flickr.com/photos/atalaya/albums/72157689514676615</a></li>
    <li><strong>2018</strong>: <a href="https://www.flickr.com/photos/atalaya/albums/72157700070843281" target="_blank">https://www.flickr.com/photos/atalaya/albums/72157700070843281</a></li>
  </ul>
</p>

<img class="img-centered" src="/assets/images/posts/wlm-19/horizontal_small.jpg" alt="mosaico" width="90%">

<p>
  Este año la salida la haremos el <strong>sábado 7 de septiembre </strong>. Como todos los monumentos de
  Granada y alrededores cercanos están ya cubiertos (podemos ver todos los que todavía no tienen imagen desde
  <a href="https://es.wikipedia.org/wiki/Anexo:Bienes_de_inter%C3%A9s_cultural_de_la_provincia_de_Granada"
  target="_blank">esta página</a>) posibles destinos serían:
  <ul>
    <li><strong>Pinos Puente</strong>: 8 monumentos</li>
    <li><strong>Lecrín</strong>: 5 monumentos</li>
    <li><strong>Quentar</strong>: 4 monumentos</li>
    <li><strong>Colomera</strong>: 5 monumentos</li>
    <li><strong>Diezma</strong>: 5 monumentos</li>
    <li><strong>Íllora</strong>: 8 monumentos</li>
    <li><strong>Iznalloz</strong>: 8 monumentos</li>
    <li><strong>Moclín</strong>: 18 monumentos</li>
    <li><strong>Loja</strong>: 14 monumentos</li>
    <li><strong>Huélago</strong>: 8 monumentos</li>
    <li><strong>Guadix</strong>: 7 monumentos</li>
    <li><strong>Motril</strong>: 1 monumentos</li>
    <li><strong>Salobreña</strong>: 4 monumentos</li>
    <li><strong>Alhama de Granada</strong>: 12 monumentos</li>
    <li><strong>Montefrío</strong>: 11 monumentos</li>
  </ul>
</p>

<p>
  Como punto de partida tomaremos <a href="https://www.openstreetmap.org/node/5907687908" target="_blank">La
  Posada</a>, donde nos reuniremos a las 10:00 para tomar un café antes de salir, terminar de decidir la ruta
  que vamos a seguir y dar una charla breve sobre la Wikipedia, cómo subir las fotos, qué es el contenido libre
  y por qué es importante.
</p>
<p>
  Si tienes intención de venir, te agradeceríamos que nos lo comunicaras por algún medio o te apuntaras en <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/263282810/" target="_blank">este
  evento en nuestro Meetup</a> (importante el indicar si tienes coche para tenerlo en cuenta a la hora de organizarnos). Nos vemos!
</p>
