---
layout: default
title: "Automatizando el aprendizaje basado en datos"
date: 2019-09-22
author: germaaan
tags: [charla]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-ref">
  Imagen de cabecera original de <a href="https://unsplash.com/@franki" target="_blank">Franki Chamaki
  </a> en <a href="https://unsplash.com/photos/1K6IQsQbizI" target="_blank">Unsplash</a>
</p>

<p class="tex-date">
  Lunes, 14 de octubre de 2019, 19:30-21:00<br>
  Aula -1.2 (Aula Polivalente) de la ETS de Ingenierías Informática y de Telecomunicación de la UGR<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>

<p>
  Tratar de aprender de datos usando aplicaciones de machine learning incluye, en muchos casos, trabajo
  manual de selección de técnicas y de procesamiento de los datos. Automatizar este proceso permite
  hacerlo de forma mucho más eficiente y rápida.
</p>

<p>
  <a href="https://twitter.com/draxus" target="_blank">Manuel Martín "Draxus"</a> es doctor en
  informática por la <a href="https://www.bournemouth.ac.uk/" target="_blank">Universidad de Bournemouth</a>,
  después de estudiar en Granada la carrera de Ingeniería Informática. También fue socio fundador de
  <strong>GCubo</strong>, el grupo de usuarios GNU/Linux de Granada. Actualmente trabaja en
  <strong>Blink Technologies</strong>, una empresa que crea aplicaciones de inteligencia artificial.
</p>

<p>
  Todo el mundo es bienvenido en este meetup: estudiantes, profesores o personas del entorno empresarial. La
  asistencia es libre y abierta a cualquier persona interesada en el tema, no es obligatorio registrarse en
  ningún sitio, aunque si tienes interés en el tema puedes comentarlo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o en el
  <a href="https://www.meetup.com/es-ES/Granada-Artificial-Intelligence-Meetup/events/265062712/" target=" _blank">
    Meetup de Granada Artificial Intelligence Meetup</a>.
</p>
