---
layout: default
title: "Gestión de citas bibliográficas con Zotero"
date: 2019-09-12
author: germaaan
tags: [charla]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-date">
  Jueves, 24 de octubre de 2019, 12:00-14:00<br>
  Aula -1.2 (Aula Polivalente) de la ETS de Ingenierías Informática y de Telecomunicación de la UGR.<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>

<p>
  En un mundo repleto de información, citar apropiadamente es un proceso vital, pero cada vez más
  complicado, por cuanto se necesita gestionar un alto volumen de documentos. En el mercado existen
  multitud de gestores bibliográficos, pero la mayoría son de pago. <a href="https://www.zotero.org/" target="_blank">Zotero</a>
  es una aplicación open-source que facilita la gestión bibliográfica de una manera rápida y ágil. En
  esta charla rápida mostraremos sus características, integraciones y ventajas de su uso.
</p>

<p>
  Esta charla la impartirá <a href="https://twitter.com/ProsumidorSoc" target="_blank">Javier Cantón</a>,
  profesor e investigador universitario. Experto en comunicación digital y redes sociales. Ha trabajado
  en las Universidades de Granada, Jaén y UNIR, así como en medios de comunicación y gabinetes de prensa.
  Coordinador de comunicación visual y diversos proyectos de <a href="https://medialab.ugr.es/" target="_blank">Medialab UGR</a>.
  Ha desarrollado diversas líneas de investigación en redes sociales, cultura visual y pensamiento
  visual, y ha publicado diversos trabajos sobre Instagram y visualización de datos.
</p>

<p>
  La asistencia es libre y abierta a cualquier persona interesada en el software libre, no es obligatorio
  registrarse en ningún sitio, aunque si tienes interés en el tema puedes comentárnoslo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o nuestro
  <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/264805989/" target=" _blank"> Meetup</a>.
</p>
