---
layout: default
title: "Microservicios basados en eventos"
date: 2019-09-14
author: germaaan
tags: [charla]
---

<h1 class="text-big-centered">{{ page.title }}</h1>

<p class="tex-date">
  Lunes, 23 de septiembre de 2019, 13:30-14:30<br>
  Aula -1.2 (Aula Polivalente) de la ETS de Ingenierías Informática y de Telecomunicación de la UGR<br>
  Calle Periodista Daniel Saucedo Aranda, s/n
</p>

<p>
  En las arquitecturas basadas en microservicios se prima la estabilidad y consistencia en la respuesta
  al usuario de tales servicios. Sin embargo, hay tareas que por su naturaleza pueden ser duraderas o
  simplemente tener una duración variable. Los microservicios basados en eventos tratan de solucionar
  ese problema: la respuesta al evento es inmediata, pero la resolución del evento puede tardar un
  tiempo variable y se enviará al cliente en caso de que lo solicite.
</p>

<p>
  En esta charla explicaremos las bases de este tipo de arquitecturas, que se construyen sobre brokers
  de mensajería como <a href="https://www.rabbitmq.com/" target="_blank">RabbitMQ</a>, y cómo se crea
  unos APIs basados en tareas frente a otro tipo de APIs más habituales basados en REST. Los ejemplos
  estarán basados en bibliotecas como <a href="http://www.celeryproject.org/" target="_blank">Celery</a>
  (en Python), una de las bibliotecas más populares para crear servidores de tareas, ejemplos de estos
  microservicios basados en eventos.
</p>

<p>
  La asistencia es libre y abierta a cualquier persona interesada en el software libre, no es obligatorio
  registrarse en ningún sitio, aunque si tienes interés en el tema puedes comentárnoslo en el grupo de
  <a href="https://t.me/LibreLabGRX" target="_blank">Telegram</a> o nuestro
  <a href="https://www.meetup.com/es-ES/LibreLabGRX/events/264809941/" target=" _blank"> Meetup</a>.
</p>
