<!doctype html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}
  <div class="container">

    {% if page.id %}
    <p style="padding-top: 15px">
      <strong>{{ page.date | date: "%-d %B %Y"}}</strong><br>
      <strong>Publicado por <a href="{{site.data.authors.[page.author].link}}" target="_blank">{{site.data.authors.[page.author].name}}</a></strong>
      <br>
      {% for tag in page.tags %}
      <a class="label label-default" href="/tags/#{{ tag | slugify }}">{{ tag }}</a>
      {% endfor %}
    </p>
    <hr>
    {% endif %}

    {{ content }}

    <!--
    {% if page.id %}
    <p><strong>Relacionado:</strong></p>
    <ul>
      {% for allpost in site.posts %}
      {% for tag in page.tags %}
      {% if allpost.tags contains tag and allpost.id != page.id %}
      <li>
        <a href="{{ allpost.url }}">
          {{ allpost.title }}
        </a>
      </li>
      {% break %}
      {% endif %}
      {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}
    -->
  </div>
  <br>
  {% include footer.html %}
</body>

</html>
